{% extends reldir ~ '/base.html' %}
{% block body %}
<table border="0" cellpadding="0" cellspacing="0" width="{{POPUP_WIDTH}}">
    <tr>
        <td width="8" height="8" style="background:url('{{absdir}}/top_left.png'); no-repeat;"/>
        <td height="8" style="background:url('{{absdir}}/horizontal.png'); repeat-y;"/>
        <td width="8" height="8" style="background:url('{{absdir}}/top_right.png'); no-repeat;"/>
    </tr>
    <tr>
        <td width="8" style="background:url('{{absdir}}/vertical.png'); repeat-y;"/>
            
            <!-- START ACTUAL CONTENT -->
            <td style="background:black; color:#ffffff">
                <div id="icon"><img width="32" height="32" src="{{icon}}" /></div>
                <div id="item-title"><a href="{{item.link}}">{{item.title}}</a></div>
                <br />
                <div id="item-description">
                    {{item.description}}
                </div>
                <div id="footer">
                    <a href="{{COMMAND_CLOSE}}"><img width="16" height="16" src="{{absdir}}/arrow_down.gif" border="0" id="next"/></a>
                </div>
            </td>
            <!-- END ACTUAL CONTENT -->


        <td width="8" style="background:url('{{absdir}}/vertical.png'); repeat-y;"/>
    </tr>
    <tr>
        <td width="8" height="8" style="background:url('{{absdir}}/bottom_left.png'); no-repeat;"/>
        <td height="8" style="background:url('{{absdir}}/horizontal.png'); repeat-x;"/>
        <td width="8" height="8" style="background:url('{{absdir}}/bottom_right.png'); no-repeat;"/>
    </tr>
</table>
{% endblock %}
