<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Feed Notifier</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
        <style type="text/css" media="all">
            {% include reldir ~ '/style.css' %}
        </style>
    </head>
    <body scroll='no' oncontextmenu='return false;' onselectstart='return false;'>
        {% block body %}
        {% endblock %}
        <script type="text/javascript">
            document.body.onclick = function(e) {
                var target = e ? e.target : window.event.srcElement;
                var name = target.nodeName.toLowerCase()
                if (name != 'a' && name != 'img') {
                    window.location.href = '{{ COMMAND_NEXT }}'
                }
            };
        </script>
    </body>
</html>
