{% extends reldir ~ '/base.html' %}
{% block body %}
    <div id='container'>
        <div id='wrapper'>
            <div id='header'>
                <div id='icon'>
                    <img width='16' height='16' src='{{ icon }}' />
                </div>
                <div id='close'>
                    <a href='{{ COMMAND_CLOSE }}'><img width='16' height='16' src='{{ absdir }}/cross.png' /></a>
                </div>
                <div id='feed'>
                    <div id='feed-title'>
                        <a href='{{ feed.link }}'>{{ feed.title }}</a>
                    </div>
                    <div id='item-author'>
                        {{ item.time_since }} ago{% if item.author %} by {{ item.author }}{% endif %}
                    </div>
                </div>
            </div>
            <div id='body'>
                <div id='item-title'>
                    <a href='{{ item.link }}'>{{ item.title }}</a>
                </div>
                <div id='item-description'>
                    {{ item.description }}
                </div>
            </div>
            <div id='footer'>
                <div id='controls'>
                    <a href='{{ COMMAND_PLAY }}'><img width='16' height='16' src='{{ absdir }}/control_play.png' /></a>
                    <a href='{{ COMMAND_PAUSE }}'><img width='16' height='16' src='{{ absdir }}/control_pause.png' /></a>
                </div>
                <a href='{{ COMMAND_FIRST }}'><img width='16' height='16' src='{{ absdir }}/control_start.png' /></a>
                <a href='{{ COMMAND_PREVIOUS }}'><img width='16' height='16' src='{{ absdir }}/control_rewind.png' /></a>
                <span>{{ item_index }} of {{ item_count }}</span>
                <a href='{{ COMMAND_NEXT }}'><img width='16' height='16' src='{{ absdir }}/control_fastforward.png' /></a>
                <a href='{{ COMMAND_LAST }}'><img width='16' height='16' src='{{ absdir }}/control_end.png' /></a>
            </div>
        </div>
    </div>
{% endblock %}
